.o_cp_searchview {
    display: none !important;
}

.text-warning {
    display: none !important;
}

.fa {
    display: none !important;
}

.fw-bold {
    font-size: 14px !important;
    color: #111827 !important;
} 

.o_form_view .min-w-0 {
    display: none !important;
}

.o-mail-MessagingMenu-counter {
    display: none !important;
}